<!DOCTYPE html>
<html lang="jp">

<head>
  <title>Moneta</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark">
    <a href="/" class="navbar-brand">
      <i class="fas fa-money-check-alt"></i>
    </a>
  </nav>
  <main role="main">
    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-md-8">
            <h1 class="display-4"><%= @page.title || "タイトル" %></h1>
            <p class="lead"><%= @page.description || "キャッチフレーズ" %></p>
          </div>
          <div class="col-md-4">
            <%= image_tag "logo_mo.png", size: "150" %>
          </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </main>
</body>

</html>