<!DOCTYPE html>
<html lang="jp">

<head>
  <title>Moneta</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#000000">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar navbar-dark fixed-top bg-dark">
    <a href="/dev" class="navbar-brand">Home</a>
  </nav>
  <section class="starter">
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4"><%= @title || "タイトル" %></h1>
        <p class="lead">ヒント：<%= @hint || "キャッチフレーズ" %></p>
      </div>
      <%= yield %>
    </div>
  </section>
</body>

</html>